name: Auto Deploy (Self-hosted Runner)

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Move to project folder
      run: |
        cd /var/www/minerva-clone
        echo "Current directory: $(pwd)"

    - name: Git Pull (fetch latest code)
      run: |
        cd /var/www/minerva-clone
        git pull origin master

    - name: Install Node modules
      run: |
        cd /var/www/minerva-clone
        npm install

    - name: Build Project
      run: |
        cd /var/www/minerva-clone
        npm run build

    - name: Deploy to NGINX folder
      run: |
        rm -rf /var/www/html/*
        cp -r /var/www/minerva-clone/dist/* /var/www/html/
        echo "Deployment completed!"

    - name: Health Check (after deploy)
      run: |
        URL="http://13.124.226.51"

        echo "Start health check for $URL"

        for i in {1..10}
        do
          STATUS_CODE=$(curl -o /dev/null -s -w "%{http_code}" "$URL" || echo "000")

          echo "[$i] HTTP status: $STATUS_CODE"

          if [ "$STATUS_CODE" -eq 200]; then
            echo "Health check success"
            exit 0
          fi

          echo "Health check failed, retry in 3 seconds..."
          sleep 3
        done

        echo "Health check failed after multiple retries. Marking deploy as FAILED."
        exit 1